.member-group {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border-top: 1px solid #ccc;

    &:first-child {
        border-top: none;
    }

    .info {
        display: flex;
        flex-direction: row;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    .action {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-around;

        i {
            width: 20px;
            height: 20px;
            cursor: pointer;
            font-size: .9rem;
        }

        .remove-member {
            &:hover {
                color: red;
            }
        }

        .request-friend {
            &:hover {
                color: #1a73e8;
            }
        }
    }
}